canvas {
    background-color: azure;
    margin: auto auto;
}

button {
    margin: 1rem auto;
    width: 480px;
    height: 2rem;
}

#drop_point {
    width: 480px;
}

#info_area {
    margin: 1rem auto;
}
